/* 
Title: Module 3.3: Build a Web Page Exercise - Part 3
Author: Brittaney Perry-Morgan
Date: August 24, 2025
Description: Module 3 Assignment 3.3 - Side-by-side divs with lists

Color Scheme
Border: #d6a800
Primary: #2e50a6
Secondary: #f2d3b5
Success: #17a599
Danger: #a8488a
Warning: #d1534f
*/

body {
    font-family: "Proxima Nova Alt", sans-serif;
    font-size: 1em;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1,
h2,
h3,
h4 {
    font-family: "Times New Roman", serif;
    background-color: #d1534f;
    color: #ffffff;
    border: 1px solid #d6a800;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-weight: 500;
    text-align: left;
}

h3 {
    font-weight: 500;
    margin-top: 20px;
}

h4 {
    font-weight: 500;
    margin-top: 20px;
}

a {
    color: #2e50a6;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #17a599;
}

a:visited {
    color: #a8488a;
}

ul {
    margin-top: 10px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

hr {
    border: 1px dashed #2e50a6;
    margin: 20px 0;
}