/* 
Title: Assignment 6.2: Build a Web Page Exercise - Part 5
Author: Brittaney Perry-Morgan
Date: Sunday, September 7th, 2025
Description: Module 6 Assignment 6.2 - Web Page Layouts
*/

@import "../site.css";

/* ─────────────────────────────────────────────────────────────
HEADER STYLES
───────────────────────────────────────────────────────────── */